// VARIABLES
$background: #15171e;
$foreground: #23252b;
$foreground-active: #313339;
$blizzard: #00a2e6;
$blizzard-light: #77c9ff;
$blizzard-dark: #0082b8;
$text: #b3b3b3;
$text-active: #ffffff;
$border: #333333;
$shadow: #000000;
$alert: #ffb400;
$new: #dd0000;
$extra-large: 22px;
$large: 20px;
$medium: 16px;
$small: 14px;
$extra-small: 12px;
