// CAROUSEL
.carousel {
  margin: 15px;

  img {
    border-radius: 5px;
  }

  .desktop-img {
    display: block;
  }

  .mobile-img {
    display: none;
  }

  @media (max-width: 41.25rem) {
    .desktop-img {
      display: none;
    }
    .mobile-img {
      display: block;
    }
  }
}
